<div class="article">
  <img class="article__image" src="{{article.image_url}}" alt="{{article.image_url}}" />
  <div class="container article-block">
    <h3 class="article-block__title">{{article.title}}</h3>
    <p class="article-block__summary">{{ article.summary }}</p>
    <p class="article-block__summary">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur voluptatum,
      sit facere, officiis, quisquam error ea tempora ullam unde distinctio cumque quos ut sed culpa ad nostrum enim
      corrupti natus nam explicabo dolores dolorum ducimus. Aspernatur asperiores dolorem esse, corporis eos id delectus
      enim ducimus exercitationem doloribus iste neque rem recusandae optio ullam nemo? Est dolores, aut qui sequi,
      magnam eius temporibus voluptatibus et voluptates aspernatur nihil. Esse rem velit aliquam tempore eveniet modi.
      Quos, nisi! Vitae dignissimos corporis quae eaque dolorum sunt quis. Adipisci vel vitae quidem dolor, aspernatur
      assumenda? Sunt possimus quia, quisquam corrupti voluptate qui natus neque sequi veritatis ipsum tempore quibusdam
      exercitationem voluptas perferendis ab unde corporis placeat eum praesentium minima? Veniam impedit exercitationem
      repellat corrupti quas ad ut error voluptatibus iure optio? Minima fugiat dolorem quasi. Ducimus praesentium in
      quas numquam possimus temporibus, architecto nulla molestias velit quibusdam reprehenderit harum placeat amet,
      minus porro cum dolores adipisci, distinctio dolore deleniti id. Autem minima cumque ratione odio maxime
      voluptatum ducimus enim, atque dolorem nulla nostrum nemo accusantium ipsam omnis, provident, sequi non dolores
      ut. Molestiae dolorum nemo aspernatur excepturi accusamus debitis blanditiis, cumque impedit rem soluta, quibusdam
      ipsa exercitationem ipsum aut beatae error. Neque, pariatur obcaecati?</p>
    <p class="article-block__summary">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur voluptatum,
      sit facere, officiis, quisquam error ea tempora ullam unde distinctio cumque quos ut sed culpa ad nostrum enim
      corrupti natus nam explicabo dolores dolorum ducimus. Aspernatur asperiores dolorem esse, corporis eos id delectus
      enim ducimus exercitationem doloribus iste neque rem recusandae optio ullam nemo? Est dolores, aut qui sequi,
      magnam eius temporibus voluptatibus et voluptates aspernatur nihil. Esse rem velit aliquam tempore eveniet modi.
      Quos, nisi! Vitae dignissimos corporis quae eaque dolorum sunt quis. Adipisci vel vitae quidem dolor, aspernatur
      assumenda? Sunt possimus quia, quisquam corrupti voluptate qui natus neque sequi veritatis ipsum tempore quibusdam
      exercitationem voluptas perferendis ab unde corporis placeat eum praesentium minima? Veniam impedit exercitationem
      repellat corrupti quas ad ut error voluptatibus iure optio? Minima fugiat dolorem quasi. Ducimus praesentium in
      quas numquam possimus temporibus, architecto nulla molestias velit quibusdam reprehenderit harum placeat amet,
      minus porro cum dolores adipisci, distinctio dolore deleniti id. Autem minima cumque ratione odio maxime
      voluptatum ducimus enim, atque dolorem nulla nostrum nemo accusantium ipsam omnis, provident, sequi non dolores
      ut. Molestiae dolorum nemo aspernatur excepturi accusamus debitis blanditiis, cumque impedit rem soluta, quibusdam
      ipsa exercitationem ipsum aut beatae error. Neque, pariatur obcaecati?</p>
    <p class="article-block__summary">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur voluptatum,
      sit facere, officiis, quisquam error ea tempora ullam unde distinctio cumque quos ut sed culpa ad nostrum enim
      corrupti natus nam explicabo dolores dolorum ducimus. Aspernatur asperiores dolorem esse, corporis eos id delectus
      enim ducimus exercitationem doloribus iste neque rem recusandae optio ullam nemo? Est dolores, aut qui sequi,
      magnam eius temporibus voluptatibus et voluptates aspernatur nihil. Esse rem velit aliquam tempore eveniet modi.
      Quos, nisi! Vitae dignissimos corporis quae eaque dolorum sunt quis. Adipisci vel vitae quidem dolor, aspernatur
      assumenda? Sunt possimus quia, quisquam corrupti voluptate qui natus neque sequi veritatis ipsum tempore quibusdam
      exercitationem voluptas perferendis ab unde corporis placeat eum praesentium minima? Veniam impedit exercitationem
      repellat corrupti quas ad ut error voluptatibus iure optio? Minima fugiat dolorem quasi. Ducimus praesentium in
      quas numquam possimus temporibus, architecto nulla molestias velit quibusdam reprehenderit harum placeat amet,
      minus porro cum dolores adipisci, distinctio dolore deleniti id. Autem minima cumque ratione odio maxime
      voluptatum ducimus enim, atque dolorem nulla nostrum nemo accusantium ipsam omnis, provident, sequi non dolores
      ut. Molestiae dolorum nemo aspernatur excepturi accusamus debitis blanditiis, cumque impedit rem soluta, quibusdam
      ipsa exercitationem ipsum aut beatae error. Neque, pariatur obcaecati?</p>
      <a class="article__link" routerLink="">Back to homepage</a>
  </div>
</div>
