.container {
  margin-top: 50px;
  max-width: 90% !important;
}

.search-bar-block {
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;

  & label {
    color: #363636;
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 10px;
  }

  & input {
    width: 600px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #EAEAEA;
    box-shadow: 0px 8px 24px 0px #0000000D;
    padding-left: 40px;
    background-image: url("../../assets/images/icon_search.svg");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: 1.5% 50%;

    &::placeholder {
      font-size: 16px;
      line-height: 50px;
    }
  }
}

.count {
  &__results {
    color: #363636;
    font-size: 14px;
    font-weight: 600;
  }

  .horizontal-line-style {
    margin-top: 0;
    margin-bottom: 40px;
    border: 1px solid #EAEAEA;
  }
}

.list-styles {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.list-unstyled {
  width: calc(33.333% - 10px);
  margin-bottom: 40px;
}

.card-block {
  display: flex;
  width: 400px;
  height: 510px;
  // margin: 10px;
  border-radius: 5px;
  border: 1px solid #EAEAEA;
  box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.05);

  &__image {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 217px;
    width: 400px;
  }
}

.descriptions {
  position: relative;
  padding: 25px;
  height: 270px;

  &__date {
    display: inline-block;
    color: #363636;
    font-size: 12px;
    opacity: 0.6;
    padding-left: 24px;
    margin-bottom: 20px;
    background-image: url("../../assets/images/icon_calendar.svg");
    background-size: 14px 14px;
    background-repeat: no-repeat;
    background-position: 1.5% 50%;
  }

  &__title {
    color: #363636;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    min-height: 80px;
  }

  &__summary {
    color: #363636;
    font-size: 16px;
  }

  &__link {
    position: absolute;
    bottom: 0;
    color: #363636;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &::after {
      content: url("../../assets/images/icon_arrow.svg");
      padding-left: 5px;
      height: 8px;
      width: 10px;
    }
  }

  ::ng-deep .highlighted-text {
    background-color: yellow;
  }

}